@import '../../Style/_responsive.scss';
@import '../../Style/_mixins.scss';
@import '../../Style/_variable.scss';
.instragram_area{
  display: block;
  overflow: hidden;
  @media #{$mobile_device} {
    // margin-bottom: 30px;
}
  @media #{$tablet_device} {
    // margin-bottom: 30px;
}
  .single_instagram{
    width: 20%;
    float: left;
    position: relative;
    overflow: hidden;
    @media #{$mobile_device} {
      width: 100%;
      // margin-bottom: 30px;
  }
    @media #{$tablet_device} {
      width: 50%;
  }
    img{
      width: 100%;
      @include transform(scaleX(1));
      @include transition(.5s);
    }
    .ovrelay{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.2) ;
      @include transform(translateX(-80%));
      @include transition(.5s);
      opacity: 0;
      visibility: hidden;
      a{
        color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        text-align: center;
        font-size: 34px;
        @include transform(translateY(-50%));
      }
    }
    &:hover{
      .ovrelay{
        @include transform(translateX(0%));
        opacity: 1;
        visibility: visible;
      }
      img{
        @include transform(scaleX(1.1));
      }
    }
  }
}